:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drawplace {
  width: 320px;
  border: 1px solid #000;
  height: 180px;
  background: #fff;
}
.button {
  margin: 7px;
}
.controlls {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  max-width: 280px;
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  .clipboard {
    position: absolute;
    right: 5px;
    top: 5px;
    &-rtl {
      left: 5px;
      right: auto;
    }
  }
}
.modal {
  &__content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    width: 85vw;

    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .full-width {
      width: 100%;
    }
  }
  &__cart-content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .substrate {
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
  }
}

